{% extends "layout.html" %}

{% block title %}
Interactive Charts
{% endblock %}

{% block content %}

<div class="container">


    <!-- ================= AI INSIGHTS ================= -->

<div class="card shadow mt-4">

    <div class="card-header bg-info text-white">

        <h3>🤖 AI Insights & Recommendations</h3>

    </div>

    <div class="card-body">

        <ul class="list-group">

            {% for item in insights %}

            <li class="list-group-item">

                {{ item }}

            </li>

            {% endfor %}

        </ul>

    </div>

</div>


    <!-- ================= MANUAL CHART BUILDER ================= -->

<div class="card shadow mb-4">

    <div class="card-header bg-success text-white">

    <h3>📊 Chart Builder</h3>

    <small>
        Select chart type and generate your visualization.
    </small>

</div>

    <div class="card-body">

        <form method="POST">

            <input type="hidden" name="mode" value="manual">

            <div class="row">

                <div class="col-md-4">

                    <label class="form-label">Chart Type</label>

                    <select class="form-select" name="chart_type">

                        <option value="bar">Bar Chart</option>
                        <option value="line">Line Chart</option>
                        <option value="scatter">Scatter Plot</option>
                        <option value="pie">Pie Chart</option>
                        <option value="histogram">Histogram</option>

                    </select>

                </div>

                <div class="col-md-4">

                    <label class="form-label">X Column</label>

                    <select class="form-select" name="manual_x">

    <option value="">
        -- Select X Column --
    </option>

    {% for col in columns %}

    <option value="{{ col }}">
        {{ col }}
    </option>

    {% endfor %}

</select>

                </div>

                <div class="col-md-4">

                    <label class="form-label">Y Column</label>

                   <select class="form-select" name="manual_y">

<option value="">
        -- Select Y Column --
    </option>

    {% for col in numeric_columns %}

    <option value="{{ col }}">
        {{ col }}
    </option>

    {% endfor %}

</select>

                </div>

            </div>

            <br>

            <button class="btn btn-success">

                📈 Generate Manual Chart

            </button>

        </form>

        {% if chart %}

<div class="card mt-4">

    <div class="card-header bg-primary text-white">
        <h4>📊 Generated Chart</h4>
    </div>

    <div class="card-body" style="overflow-x:auto;">
    {{ chart|safe }}
</div>

</div>

{% endif %}

    </div>

</div>

                </div>

</div>

</div>

</div>

    {% endblock %}

